{% if is_demo %}
  <button class="button" data-drupal-selector="open-button">Open Modal</button>
{% endif %}

{{ attach_library('surface/search-modal') }}

<dialog class="search-modal" data-drupal-selector="modal">
	<div class="container">
		<div class="search-modal__button">
			<button type="button" role="button" data-drupal-selector="close-button">
				<span class="visually-hidden" aria-label="Close Overlay" aria-hidden="false"></span>
				<svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 352 512">
					<path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
				</svg>
			</button>
		</div>
		<h2>Search</h2>
		<div class="search-modal__description">Try looking up a doctor, a clinic location, or information about a condition/treatment.</div>
		<div class="search-modal__container">
      {% set id = random(1, 100) %}
      <form action="{{ action|default('/search/node') }}" method="get" id="search-block-form--{{ id }}" accept-charset="UTF-8" class="{{ classes }}">
        <div class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
          <label for="edit-keys--{{ id }}" class="form-item__label visually-hidden">Search</label>
          <input title="{{ title|default('Enter the terms you wish to search for.') }}" placeholder="{{ placeholder|default('Search by keyword or phrase.') }}" data-drupal-selector="edit-keys" type="search" id="edit-keys--{{ id }}" name="keys" value="" size="15" maxlength="128" class="form-search form-element form-element--type-search form-element--api-search">
        </div>
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--{{ id }}">
          <button class="js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit--{{ id }}" value="Search">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
              <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
            </svg>
            <span class="visually-hidden">Search</span>
          </button>
        </div>
      </form>
		</div>
		<div class="search-modal__links">
		  <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Link one</a></li>
        <li><a href="#">Link two</a></li>
        <li><a href="#">Link three</a></li>
        <li><a href="#">Link four</a></li>
      </ul>
		</div>
	</div>
</dialog>
