    <!-- Drupal -->
    <script type="application/json" data-drupal-selector="drupal-settings-json">{}</script>
    <script src="../../dist/drupal/jquery.min.js"></script>
    <script src="../../dist/drupal/once.min.js"></script>
    <script src="../../dist/drupal/drupalSettingsLoader.js"></script>
    <script src="../../dist/drupal/drupal.js"></script>
    <script src="../../dist/drupal/drupal.init.js"></script>

    <!-- Concatenated by Gulp so you don't have to manually add each file. -->
    <script src="../../dist/js/form-boolean.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/translate.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-utils.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-main.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-main-second-level.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/button-search.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/menu-sidebar.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/messages.js?{{ cacheBuster }}"></script>
    <script src="../../dist/js/tabs.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot|raw }}
  </body>
</html>
