{{ attach_library('surface/site-branding') }}

{% if is_demo %}
  <div style="background-color: hsl(var(--midnight-joshua-tree)); padding-inline: 8px; padding-block-start: 8px;">
{% endif %}

<a href="{{ path('<front>') }}" rel="home" class="site-branding {{ modifier }}">
  <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
</a>

{% if is_demo %}
  </div>
{% endif %}
