{{ attach_library('surface/messages') }}

{% set classes = [
  'messages',
  type ? 'messages--' ~ type,
  'container',
  'grid',
  'grid--medium',
]|join(' ')|trim %}

<div data-drupal-messages class="{{ classes }}" data-drupal-selector="messages" role="contentinfo" aria-label="{{ heading }}">
  <div class="messages__container" data-drupal-selector="messages-container"{% if type == 'error' %} role="alert"{% endif %}>
    {% if heading %}
      <div class="messages__header">
        <h2 class="visually-hidden">{{ heading }}</h2>
        <div class="messages__icon"></div>
      </div>
    {% endif %}

    <div class="messages__content">
      {% if messages|length > 1 %}
        <ul class="messages__list">
          {% for message in messages %}
            <li class="messages__item">{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ messages|first }}
      {% endif %}
    </div>

    <button type="button" class="messages__close">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path fill="currentColor" d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
      </svg>
      <span class="visually-hidden">Close message</span>
    </button>
  </div>
</div>
